<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
<!--        <select id="selectPost" resultType="com.nhnacademy.jdbc.board.post.domain.PostView">-->
<!--            select *-->
<!--            from posts-->
<!--            where post_num = #{postNum}-->
<!--        </select>-->

        <select id="selectPostViews" resultType="com.nhnacademy.jdbc.board.post.domain.PostView">
            select post_num, title, user_id, write_time,
                   (select count(*) from comments C where C.post_num = P.post_num) comment_count
            from posts P inner join users on writer_num = user_num limit 20 offset #{offset};
        </select>

        <insert id="insertPost">
            insert into posts (board_num, writer_num, title, content, write_time)
            values(1, #{writerNum}, '${title}', '${content}', now());
        </insert>

    <!--    <update id="updateNameById">-->
    <!--        update JdbcUsers set name='${name}'-->
    <!--        where id = #{id}-->
    <!--    </update>-->

    <!--    <delete id="deleteById">-->
    <!--        delete from JdbcUsers where id=#{id}-->
    <!--    </delete>-->

    <select id="selectPostCount" resultType="int">
        select count(*)
        from posts;
    </select>
</mapper>
