<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
        <select id="selectPost" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
            select post_num, title, content,
                   (select user_id from users where user_num = writer_num) writer_id,
                   (select user_id from users where user_num = modifier_num) modifier_id,
                   write_time, modify_time, visibility
            from posts
            where post_num = #{postNum}
        </select>

        <select id="selectPostViews" resultType="com.nhnacademy.jdbc.board.post.domain.PostView">
            select post_num, title, user_id, write_time,
                   (select count(*) from comments C where C.post_num = P.post_num) comment_count,
                   visibility
            from posts P inner join users on writer_num = user_num limit 20 offset #{offset};
        </select>

        <insert id="insertPost">
            insert into posts (board_num, writer_num, title, content, write_time)
            values(1, #{writerNum}, '${title}', '${content}', now());
        </insert>

        <update id="updatePost">
            update posts set title='${title}', content='${content}', modifier_num=#{modifierNum}, modify_time=now()
            where post_num = #{postNum}
        </update>

    <!--    <delete id="deleteById">-->
    <!--        delete from JdbcUsers where id=#{id}-->
    <!--    </delete>-->

    <select id="selectPostCount" resultType="int">
        select count(*)
        from posts;
    </select>

<!--    <select id="selectPostComments" resultType="com.nhnacademy.jdbc.board.post.domain.Comment">-->
<!--        select comment_num, (select user_id from users where user_num = writer_num) writer_id, comment_content-->
<!--        from comments where post_num = #{postNum};-->
<!--    </select>-->

    <update id="updatePostVisibility">
        update posts set visibility=#{visibility}
        where post_num = #{postNum}
    </update>

    <select id="selectPostNum" resultType="int">
        select A.post_num
        from comments A
        inner join posts B on B.post_num = A.post_num where comment_num = #{commentNum};
    </select>



<!--    <insert id="insertComment">-->
<!--        insert into comments (post_num, writer_num, comment_content)-->
<!--        values(#{postNum}, #{writerNum}, '${commentContent}');-->
<!--    </insert>-->


</mapper>
