<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postDeleteList</title>
</head>
<body>
<a href="/postView/0">게시글목록</a>
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일시</th>
        <th>댓글개수</th>
    </tr>
    <tr th:each="postView : ${postViews}">
        <td th:text="${postView.postNum}"></td>
        <td><a th:href="@{|/postDetail/${postView.postNum}|}" th:text="${postView.title}"></a></td>
        <td th:text="${postView.writerId}"></td>
        <td th:text="${postView.writeTime}"></td>
        <td th:text="${postView.commentCount}"></td>
    </tr>
</table>
<a th:href="@{|/postDeleteList/${page - 1}|}" th:if="${page} > 0">이전</a>
<a th:href="@{|/postDeleteList/${page + 1}|}" th:if="${page} < ${maxPage}">다음</a>
</body>
</html>